<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="First Test">
        <classes>
            <class name="CalculationAccuracy">
                <methods>
                    <include name="calculationAccuracyTest"/>
                </methods>
            </class>
        </classes>
    </test>
<!--    <test name="Second Test">-->
<!--        <classes>-->
<!--            <class name="Utils">-->
<!--                <methods>-->
<!--                    <include name="openBrowser"/>-->
<!--                    <include name="browserInputs"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
