<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="First Test - Basic Functionalities">
        <classes>
            <class name="BasicFunctionality">
                <methods>
                    <include name="basicFunctionalityTest"/>
                    <include name="buttonFunctionalityTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Second Test - Input Validation">
        <classes>
            <class name="InputValidation">
                <methods>
                    <include name="firstInputValidationTest"/>
                    <include name="secondInputValidationTest"/>
                    <include name="thirdInputValidationTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Third Test - Calculation Accuracy">
        <classes>
            <class name="CalculationAccuracy">
                <methods>
                    <include name="calculationAccuracyTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Fourth Test - Boundary Test">
        <classes>
            <class name="BoundaryTest">
                <methods>
                    <include name="minBoundaryTest"/>
                    <include name="maxBoundaryTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
